<div class="banner wow fadeIn" data-wow-delay="0.5s">
  <div class="container">
    <div class="banner-info text-center">
      <div class="logonew">
        <div class="star">
          <%= image_tag("logo.png")%>
        </div>
      <%= image_tag("BLACKSTAR2.png")%>
      <%= image_tag("BLACKSTAR1.png")%>
      </div>
      <span> </span>
      <p><h4><%= t(:logo)%></h4></p>
    </div>
  </div>
</div>
