<div class="copy-right">

  <p><%= t(:contacts) %><br>
     <%= t(:mail) %> <a href="mailto:info@intertobacco.ltd">info@intertobacco.ltd</a><br>
     <%= t(:phone) %> <a href="tel:+79523886606">+7(952)388-66-06</a><br>
     Whatsapp: <a href="tel:+79110811486">+7(911)081-14-86</a><br>
     Template by <a href="http://w3layouts.com/">W3layouts</a><br><br>
     «STATUS BERATER» GmbH<br>
      Gesellschaft mit beschränkter Haftung<br>
      Nr. HRB 141021<br>
      Potsdamer Strasse 92, 10785 Berlin, Deutschland	<br></p>
  <script type="text/javascript">
    $(document).ready(function() {
      $().UItoTop({ easingType: 'easeOutQuart' });
    });
  </script>
  <a href="#" id="toTop" style="display: block;">
    <span id="toTopHover" style="opacity: 1;"></span>
  </a>
</div>
