<div class="tm-head">
  <h3><%= t(:tobaccoinfo) %></h3>
</div>
<center>
<div class="container_tobacco">
  <%= image_tag("tobacco1.jpg")%>
  <%= image_tag("mouthpiece.jpg")%>
  <%= image_tag("NYCde.jpg")%>
</div>
</center>
